name: Build Linux ARM64

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.23"

      - name: Set environment variables
        run: |
          echo "GOARCH=arm64" >> $GITHUB_ENV
          echo "GOOS=linux" >> $GITHUB_ENV
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
          else
            VERSION="v0.0.0-${GITHUB_SHA::8}"
          fi
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          echo "ARCH_NAME=aarch64" >> $GITHUB_ENV
          WASMVM_VERSION=$(go list -m github.com/CosmWasm/wasmvm/v2 | awk '{print $2}')
          echo "WASMVM_VERSION=${WASMVM_VERSION}" >> $GITHUB_ENV

      - name: Ensure dependencies
        run: |
          go mod tidy
          go get github.com/CosmWasm/wasmvm/v2@${WASMVM_VERSION}

      - name: Print environment variables
        run: |
          echo "GOARCH=${GOARCH}"
          echo "GOOS=${GOOS}"
          echo "VERSION=${VERSION}"
          echo "ARCH_NAME=${ARCH_NAME}"
          echo "WASMVM_VERSION=${WASMVM_VERSION}"

      - name: Build for ARM64
        run: |
          make build \
          && cd ./build \
          && cp ~/go/pkg/mod/github.com/\!cosm\!wasm/wasmvm/v2@${WASMVM_VERSION}/internal/api/libwasmvm.${ARCH_NAME}.so ./
          && tar -czvf miniwasm_${VERSION}_Linux_${ARCH_NAME}.tar.gz minitiad libwasmvm.${ARCH_NAME}.so \
          && mv miniwasm_${VERSION}_Linux_${ARCH_NAME}.tar.gz ${GITHUB_WORKSPACE}/ \
          && rm -rf ./minitiad ./libwasmvm.${ARCH_NAME}.so

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: miniwasm-linux-arm64
          path: miniwasm_*.tar.gz
          retention-days: 1
